*{margin: 0; padding: 0}



@media only screen and (max-width: 768px) {
    body {
        background-color: lightblue;
    }

    #wrapper{
      width: 90%;
    }
}

body{
  background: #ffe6ed;
  font-family: sans-serif;
}

#wrapper{
  height: 100%;
  width: 65vw;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
}

#title-part{
  width: 100%;
  height: 14em;
  //background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

#tag-part{
  height: 3.5em;
  //background: rgba(255, 255, 255, 0.3);
  margin-top: 20px;
  padding: 6px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(180, 180, 180);
}

#tag-part-left{
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#tag-part-right{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apply-button{
  height: 2em;
  width: 5em;
  font-size: 20px;
  background: linear-gradient(#33bbff, #80d4ff);
  border-radius: 10px;
  color: white;
  box-shadow: 1.5px 1.5px 2px #888;
  -moz-transition:-moz-transform .10s linear;
  -o-transition:-o-transform .10s linear;
  -webkit-transition:-webkit-transform .10s linear;
}

.apply-button:hover{
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  cursor: pointer;
}

.single-tag{
  height: 2em;
  width: 5em;
  font-size: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(244, 244, 244);
  box-shadow: 1.5px 1.5px 2px #888;
  border: 1px solid rgba(0, 0, 0, 0);
}

.single-tag:hover{
  cursor: pointer;
  border: 1px solid rgb(200, 200, 200);
}

#tip-part{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  padding: 20px;
}

@font-face {
    font-family: Kalam;
    src: url(Kalam-light.tff);
}

.tip-card{
  height: 14em;
  width: 14em;
  margin: 20px;
  background: #fcc;
  color: white;
  text-align: center;
  box-shadow: 5px 5px 10px #888;
  float: left;;
  font-size: 20px;
  -o-transform:rotate(-10deg);
  -webkit-transform:rotate(-10deg);
  -moz-transform:rotate(-10deg);
  -moz-transition:-moz-transform .30s linear;
  -o-transition:-o-transform .30s linear;
  -webkit-transition:-webkit-transform .30s linear;
}

.tip-card:nth-of-type(even){
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
}

.tip-card:nth-of-type(3n){
  -o-transform:rotate(-7deg);
  -webkit-transform:rotate(-7deg);
  -moz-transform:rotate(-7deg);
}

.tip-card:nth-of-type(5n){
  -o-transform:rotate(9deg);
  -webkit-transform:rotate(9deg);
  -moz-transform:rotate(9deg);
}

.tip-card:hover{
  -o-transform:rotate(6deg);
  -webkit-transform:rotate(6deg);
  -moz-transform:rotate(6deg);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  z-index: 10;
}

.tip-title{
  font-size: 25px;
}

.tip-content{
  font-size: 15px;
  font-family: Kalam, cursive;
}

.tip-tag{

}
